:root {
    --background-color: #211612;
    --main-text-color: #f4f3ef;
}

@font-face {
    font-family: Arsenica-Trial-Light;
    src: url(fonts/ArsenicaTrial-Light\ \(2\).woff);
}

body {
    background-color: var(--background-color);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 55px;

}

.header-logo {
    max-width: 356px;
}

.header-logo-text {
    color: var(--main-text-color);
    font-family: Arsenica-Trial-Light, sans-serif;
}

.header-nav ul{
    display: flex;
    list-style: none;
    gap: 72px;
}

.header-nav a {
    color: var(--main-text-color);
    font-family: Arsenica-Trial-Light, sans-serif;
}