:root {
    --background-color: #211612;
}


body {
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;

}

.header-logo {
    max-width: 356px;
}

.header-content-right ul{
    display: flex;
    list-style: none;
    gap: 72px;
}